{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
	<thead>
		<tr>
			
			<td>Contrato</td>
			<td>Monto</td>
			<td>RFC</td>
			<td>Fecha</td>
			<td>Acciones</td>
		</tr>
	</thead>
	<tbody>
		
		{% for contrato in object_list %}
		<tr>
			<td>{{ contrato.id_contrato }}</td>
			<td>{{ contrato.monto }}</td>
			<td>{{ contrato.rfc_id }}</td>
			<td>{{ contrato.fecha }}</td>
			<td><a href="{% url 'contrato:contrato_editar' contrato.id_contrato %}" class="btn btn-primary">Editar</a></td>
			<td><a href="{% url 'contrato:contrato_eliminar' contrato.id_contrato %}" class="btn btn-danger">Eliminar</a></td>
		</tr>
		
		{% empty %}
		<h1>No hay registros de contratos</h1>
		{% endfor %}
	</tbody>
</table>

{% endblock %}